body{
    background-image: url("Cocina Programada (2).PNG");
    background-repeat: repeat;
}

.menu{
    width: 602px;
    height: 33px;     
    background-color: #FF5733;
    margin-left: 50px;
}
.cajamenu{
    display:flex;
}
.cajamenu li{
    margin: 5px;
    color: black;
    list-style: none;
}

.caja{
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 600px;
    margin-left: 50px;
    background-color: white;
}
 
h1{
    text-align: center;
    font-family: 'Cookie', cursive;
    font-size: 50px;
    margin-bottom: 10px;
}

.caja > .tarjetas{
    display:flex;
}

.tarjetareceta1{
    width: 235px;
    height: 345px;
    left: 55px;
    top: 183px;  
    background-color: #FF4FD8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 19px; 
    margin: 30px;
    margin-left: 75px;
    margin-top: 5px;
}

.logo1{
    position: absolute;
    width: 300px;
    height: 180px;
    left: 100px;
    top: 200px;
}

.texto1{
    position: absolute;
    width: 170px;
    height: 59px;
    left: 185px;
    top: 380px;
    font-family: 'Cookie', cursive;
    font-size: 40px;
}

.tarjetareceta2{
    width: 235px;
    height: 345px;
    left: 55px;
    top: 183px;  
    background-color: #FF5151;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 19px; 
    margin: 30px;
    margin-top: 5px;
}

.logo2{
    position: absolute;
    width: 300px;
    height: 180px;
    left: 395px;
    top: 200px;
}

.texto2{
    position: absolute;
    width: 170px;
    height: 59px;
    top: 380px; 
    left: 510px;
    font-family: 'Cookie', cursive;
    font-size: 40px;
}