h1 {

    text-decoration: underline #FF5733;
    font-weight: normal;
    font-size: 48px;
    line-height: 53px;
    margin-left: 10px;
    font-family: 'Cookie';
      font-style: normal;
      font-weight: 400;
      src: local('Cookie'), url(/fonts/opensans.woff2) format('woff2')
        
    }
    
    h2{
       font-family: caveat brush;
       font-size: 28px;
       margin-left: 20px;
    
    }
    
    h3{
        font-family: caveat brush;
        font-size: 28px;
        margin-left: 20px;
     
     }
    
     p{
        font-family: gabriela;
        font-size: 14px;
        margin-left: 10px;
        
     }
    
    body {
        background-image: url(fondo.png);
        background-repeat: repeat;
    }
    
    .ingredientes {
        font-family: gabriela; 
        font-size: 14px;
        margin-left: 10px;
    
    }
    
    .fondo {
        position: absolute;
        width: 1299px;
        height: 1196px;
        left: 27px;
        top: 60px;
        
        background: rgba(255, 255, 255, 0.85);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
    